body {
    font-family: 'Poppins', sans-serif;
    background-color: #1A242F;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #FFFFFF;
}

#card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.card {
    background-color: #283340;
    border-radius: 15px;
    padding: 25px 30px 30px 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 420px; /* Ensure max-width for larger screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; /* Add margin for spacing */
}

@media screen and (max-width: 500px) {
    .card {
        padding: 20px;
    
    }
}

.image-container {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    border: 5px solid #FFD700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
}

.image-placeholder-text {
    color: #808080;
    font-size: 1em;
    text-align: center;
}

.details {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 5px;
    font-weight: bold;
}

h2 {
    font-size: 1.1em;
    color: #FFD700;
    margin-bottom: 15px;
    font-weight: normal;
}

.email {
    font-size: 1em;
    margin-bottom: 25px;
    color: #FFFFFF;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.contact-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 22px;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #283340;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

.contact-links a i {
    font-size: 1em;
}

.about-section {
    text-align: left;
    margin-bottom: 25px;
    width: 90%;
}

.about-section h3 {
    font-size: 1.5em;
    color: #FFD700;
    margin-bottom: 15px;
    text-align: center;
}

.about-section p {
    font-size: 0.9em;
    text-align: justify;
    line-height: 1.5;
    color: #FFFFFF;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFD700;
    text-decoration: none;
}

.social-icons a i, .social-icons a img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    color: #283340;
}

.website-section {
    text-align: center;
    padding-top: 20px;
    border-top: 2px solid #FFD700;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.website-section p {
    font-size: 1em;
    font-weight: bold;
    color: #FFD700;
    margin-top: 10px;
}
